<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETCore,Version=v3.1" />
  </startup>
  <appSettings>
    <add key="WebSocketTokenKey" value="id_token"/>
    <add key="WebSocketTokenValue" value="alpine"/>
    <add key="SignalingMechanismURL" value="wss://wss-signaling.herokuapp.com?room=4"/>
    <add key="Stun1" value="stun:stun.l.google.com:19302"/>
    <add key="Stun2" value="stun:stun1.l.google.com:19302"/>
    <add key="Stun3" value="stun:stun2.l.google.com:19302"/>
    <add key="Stun4" value="stun:stun3.l.google.com:19302"/>
    <add key="Turn1" 
        value=
        "Url=turn:numb.viagenie.ca UserName=fkrveacbukypqsqyaq@miucce.com Password=9u7prU:2}R{Sut~.)d[bP7,;Pgc\'Pa"/>
  </appSettings>
</configuration>